body{
    background-color: pink;
    border:10px red dotted
    
}

#dance{
    color:yellow;
}
h2{
    color:blue;
}
#thereal{
 text-align: center;
    
}
para2{
color:darkblue;
}
title{
    color:green;
}
.first{
    color: purple;
}